{% extends 'base.html.twig' %}
{% block title %}MCC - Mentions légales{% endblock %}

{% block body %}
<div class="jumbotron">

<h1 class="display-3">Bonjour
   {{app.user.username|default(' ')}}!  </h1>

  <p class="lead">Organise ton jardin et planifie tes plantations grâce à Mes Charmantes Carottes.</p>
  <hr class="my-4">
  <p>Découvre les légumes de saison et comment les associer, avec des fleurs ou d'autres légumes, pour lutter naturellement contre l'invasion des peites bêtes gourmandes</p>
  <p class="lead">
  Commence par créer un jardin puis laisse toi guider!
  </p>
</div>

 <input type="button"  class="btn-previous btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
{% endblock %}