{% extends 'base.html.twig' %}
{% block title %}MCC - Mentions légales{% endblock %}

{% block body %}
<div class="jumbotron">

<h1 class="display-3">Bonjour
   {{app.user.username|default(' ')}}!  </h1>

{#if connected user#}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p class="lead">Organise ton jardin et planifie tes plantations.</p>

<li class="nav-item active">
					<a class="nav-link" href="{{ path('garden_show', {'id' : app.user.id }) }}">Ton jardin</a>
				</li>
    {% else %}      
  <p class="lead">Organise ton jardin et planifie tes plantations grâce à Mes Charmantes Carottes.</p>
  <hr class="my-4">
  <p>Découvre les légumes de saison et comment les associer, avec des fleurs ou d'autres légumes, pour lutter naturellement contre l'invasion des peites bêtes gourmandes</p>
  <p class="lead">
  Commence par t'inscrire ou connecte-toi puis crée ton jardin!
  </p>


<li class="nav-item active">
					<a class="nav-link" href="{{ path('user_new') }}">Inscription</a>
				</li>
  <img class="vegetable-planting" src="{{ asset('pictures/planting.png') }}"> 
 {% endif %}
 <div><input type="button" class="btn-previous btn btn-outline-dark" value="Page précédente" onclick="history.go(-1)"></div>
</div>


{% endblock %}