body {
    background-image: url(../pictures/home.jpg);
    filter: blur(35%);
    opacity: 1;
    background-size: 150vh;
    background-repeat: no-repeat;
    background-color: #cde3ee;
    text-align: center;
}

.btn-previous{
    margin-top: 3em;
}
a.navbar-brand {
    width: 5%;
    padding: 0;
    text-align: left
}

.carotts {
    margin-right: 0em;
}

.navbar-brand img {
    width: 50%;
    padding: 0;
    margin-right: 0;
}

.navbar-brand {
    margin-right: .8em;
}

/**HOMEPAGE**/
.home-title {
    text-align: center;
    margin: 10em auto 5em auto;
    width: 50%;
}

.home-title h1 {
    font-weight: 1000;
    color: #e96b1f;
    font-weight: 1.5em;
    background-color: #f0f8fb;
}

img.plant {
    width: 10%;
}

.vegetables {
    text-align: center;
}

.vegetable {
    width: 8%;
    margin: 2em 2em 6em 2em;
}

.vegetable {
    animation: anim 3s;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }

    33% {
        opacity: .7;
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.3);
    }

    100% {
        opacity: .5;
        transform: scale(1.6);
    }
}

.vegetable:hover {
    transform: rotate(320deg);
}

img.plant:hover {
    transform: rotate(320deg);
}

/*ACCUEIL*/
.jumbotron {
    background-color: #f0f8fb;
    width: 50%;
    float: right;
}

.vegetable-planting {
    padding: 0;
    width: 25%;
}

/*FORMS*/
.form {
    background-color: #f0f8fb;
    text-align: center;
    margin: 2em auto;
    width: 50%;
    padding: 4em;
}

.btn-form {
    margin-top: 2em;
    padding: .5em;
    font-size: 1.2em;
    font-weight: 900;
    width: 50%;
}

.vegetable-btn {
    width: 15%;
}

.vegetable-btn:hover {
    transform: rotate(0.5turn);
}


@media (max-width: 810px) {
    .display-3 {
        font-size: 1.5em;
    }

    .home-title {
        text-align: center;
        margin: 10em auto 5em auto;
        width: 80%;
    }

    .home-title h1 {
        font-weight: 1000;
        color: #e96b1f;
        font-weight: 1em;
        background-color: #f0f8fb;
    }

    /*ACCUEIL*/
    .jumbotron {
        width: 100%;

    }

    .navbar-brand img {
        width: 100%;
        padding: 0;
        margin-right: 0;
    }

    /*FORMS*/
    .form {
        background-color: #f0f8fb;
        text-align: center;
        padding: 2em;
        margin: 2em auto;
        width: 80%;
    }
}